*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
}

.cursor{
    position: relative;
    width: 100px;
    height: 100px;
}
.cursor .circle{
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#00d0ff, #ff005e);

}